*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("../images/background_3.png");
}

.heading{
    width: 1000px;
    height: 130px;
    background-image: url("../images/background_1.png");
    margin: 20px auto;
}

.logo{
    float: left;
    margin: 10px 10px;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.nav_bar{
    display:inline-block;
    border:1px solid #505255;
    border-bottom: 1px solid #282C2F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 70px;
    margin-left: 100px;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    float: left;

}

li{
    list-style:none;
    float:left;
    border-right: 1px solid #2E3235;
    position: relative;
    background:#555D5F;
}

li:hover{
    background:#3E4245;
    -moz-transition: background 1s ease-out;
    -webkit-transition: background 1s ease-out;
}

li a{
    display:block;
    height:40px;
    line-height:40px;
    padding:0 30px;
    font-size:12px;
    color:#fff;
    text-shadow: 0px -1px 0px #000;
    text-decoration:none;
    white-space:nowrap;
    border-left: 1px solid #999E9F;
    border-top: 1px solid #999E9F;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    z-index:100;
}

li > a{
    position:relative;
}

li.first a{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

li.last{
    border-right: 0 none;
}

dl{
    position:absolute;
    display:block;
    top:40px;
    left: -25px;
    width:165px;
    background:#222222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    z-index:10;
}

li:hover dl{
    top:50px;
    display:block;
    width:145px;
    padding:10px;
}

dl a{
    background:transparent;
    border:0 none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
    z-index:50;
}

dl a:hover{
    color:#FFF;
    background:#999E9F;
    -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

dd{
    margin-top:-40px;
    opacity:0;
    width:145px;
    -webkit-transition-property:all;
    -moz-transition-property: all;
}

li:hover dd{
    margin-top:0;
    opacity:1;
}

li dd:nth-child(1){
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

li dd:nth-child(2){
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}

li dd:nth-child(3){
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

li dd:nth-child(4){
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

dt{
    display:none;
    margin-top:-25px;
    padding-top:15px;
    height:10px;
}

li:hover dt{
    display:block;
}

.Darrow{
    float:right;
    margin:18px 10px 0 0;
    border-width:5px;
    border-color:#FFF transparent transparent transparent;
    border-style:solid;
    width:0;
    height:0;
    line-height:0;
    overflow:hidden;
    cursor:pointer;
    text-shadow: 0px -1px 0px #000;
    -webkit-box-shadow:0px -1px 0px #000;
    -moz-box-shadow:0px -1px 0px #000;
}
.arrow{
    margin:0 auto;
    margin-top:-5px;
    display:block;
    width:10px;
    height:10px;
    background:#222222;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.content_0{
    width: 1000px;
    height: 250px;
    margin: 20px auto;
}

.content_1{
    width: 700px;
    height: 250px;
    background-color: #47669f;
    margin: 20px auto;
    padding-top: 100px;
    padding-left: 300px;
}

.content_2{
    width: 1000px;
    background-color: #47669f;
    height: 650px;
    margin: 20px auto;
}

.content_3{
    width: 1000px;
    background-color: #47669f;
    height: 600px;
    margin: 20px auto;
}

.content_4{
    width: 1000px;
    background-color: #47669f;
    height: 400px;
    margin: 20px auto;
}

.register {
    width:370px;
    float: left;
}

.register_form {
    width:300px;
    margin:0 auto;
}

.input-tips{
    text-align: center;
    float:left;
    margin-top:10px;
    width:80px;
    height:42px;
    font-size:16px;
    line-height:42px;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}

.inputOuter {
    width:200px;
    margin-top:6px;
    margin-left:5px;
    float:left;
}

.inputStyle{
    width:200px;
    height:38px;
    padding-left:5px;
    line-height:30px;
    border:1px solid #D7D7D7;
    background:#fff;
    color:#333;border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled;
}

.inputStyle:focus{
    border:1px solid #198BD4;
    box-shadow:0 0 2px #198BD4;
}

.pwdArea{
    height:55px;
    margin-bottom:10px;
    position:relative;
    z-index:3;
}

.roleArea{
    height:30px;
    margin-bottom:5px;
    position:relative;
    z-index:3;
}

.chooseRole{
    font-size: large;
    font-weight: 200;
    width:200px;
    margin-top:20px;
    margin-left:10px;
    float:left;
}

.button_blue{
    display:inline-block;
    float:left;
    height:30px;border-radius:4px;
    background:#2795dc;border:none;cursor:pointer;
    border-bottom:3px solid #0078b3;*border-bottom:none;
    color:#fff;
    font-size:16px;padding:0 10px;*width:140px;
    text-align:center;outline:none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}

input.button_blue:hover{
    background:#0081c1;
    border-bottom:3px solid #006698;*border-bottom:none;
    color:#fff;
    text-decoration:none;
}

.profileTb{
    float: left;
    margin-top: 50px;
    margin-left: 120px;
    font-weight: 500;
}

.input-tips_1{
    text-align: center;
    float:left;
    margin-top:10px;
    width:100px;
    height:50px;
    font-size:16px;
    line-height:42px;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}

.inputStyle_1{
    width:600px;
    height:38px;
    padding-left:5px;
    line-height:30px;
    border:1px solid #D7D7D7;
    background:#fff;
    color:#333;border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled;
}

.inputStyle_2{
    width: 600px;
    height: 150px;
    padding-left:5px;
    line-height:30px;
    border:1px solid #D7D7D7;
    background:#fff;
    color:#333;border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled;
}

.cztable {
    float: left;
    margin-top: 50px;
    margin-left: 180px;
}

.cztable table {
    border-bottom: #cfe1f9 solid 4px;
    border-right: #cfe1f9 solid 1px;
}

.cztable td, .cztable th {
    border-top: #cfe1f9 solid 1px;
    border-left: #cfe1f9 solid 1px;
    padding: 6px 5px;
}

.cztable th {
    line-height: 22px;
    color: #ebf7ff;
    background-color: #3E4245;
}

.cztable td a {
    color: #185697;
}

.MainStyle {
    padding: 10px;
    text-align: center;
    float: left;
}

.MainStyle div {
    display: inline;
    margin-right: 5px;
}

.MainStyle a {
    padding: 2px 6px;
    border: 1px #4890cf solid;
    background: #fff;
    color: #000;
}

.MainStyle a:hover {
    background: #cee2f3;
    color: #000;
}

.MainStyle .NowItemStyle a {
    border: 1px #297bc3 solid;
    color: #fff;
    background: #4890cf;
    font-weight: 700;
}

.SearchStyle input {
    width: 40px;
    float: left;
}